In [46]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
%matplotlib inline

In [59]:
df= pd.read_csv('hiring_1.csv')
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary
0         NaN                      8                           9   50000
1         NaN                      8                           6   45000
2         5.0                      6                           7   60000
3         2.0                     10                          10   65000
4         7.0                      9                           9   70000
5         3.0                      7                          10   62000
6        10.0                      7                           7   72000
7        11.0                      7                           8   80000

In [60]:
import math
median_experience=math.floor(df.experience.median())
median_experience

6

In [61]:
df.experience=df.experience.fillna(0)
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary
0         0.0                      8                           9   50000
1         0.0                      8                           6   45000
2         5.0                      6                           7   60000
3         2.0                     10                          10   65000
4         7.0                      9                           9   70000
5         3.0                      7                          10   62000
6        10.0                      7                           7   72000
7        11.0                      7                           8   80000

In [62]:
X = df[['experience','test_score(out of 10)','interview_score(out of 10)']]
y = df['salary']

In [73]:
reg =linear_model.LinearRegression(copy_X=True,fit_intercept=True)
reg.fit(df[['experience','test_score(out of 10)','interview_score(out of 10)']],df.salary)

LinearRegression()

In [74]:
reg.coef_

array([2707.30020745, 1040.60061247, 2551.02242418])

In [77]:
reg.intercept_

21029.734268497472

In [81]:
reg.predict([[2,9,6]])

C:\Users\heman\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([51115.87474069])

In [83]:
reg.predict([[11,7,8]])

C:\Users\heman\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([78502.42023116])